<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="fr.isen.duterte.androiderestaurant">

    <uses-permission android:name="android.permission.BLUETOOTH_CONNECT" />
    <uses-permission android:name="android.permission.BLUETOOTH_SCAN" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <uses-feature
        android:name="android.hardware.bluetooth_le"
        android:required="true" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AndroidERestaurant"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".ble.BleDeviceAdapterActivity"
            android:exported="false"
            tools:ignore="Instantiatable" />
        <activity
            android:name=".ble.BleDeviceActivity"
            android:exported="false" />
        <activity
            android:name=".ble.BleLauncherAdapter"
            android:exported="false"
            tools:ignore="Instantiatable"  />
        <activity
            android:name=".ble.BleLauncherActivity"
            android:exported="false" />
        <activity
            android:name=".erestaurant.PanierAdapter"
            android:exported="false"
            tools:ignore="Instantiatable"  />
        <activity
            android:name=".erestaurant.PanierActivity"
            android:exported="false" />
        <activity
            android:name=".erestaurant.ViewPagerAdapter"
            android:exported="false"
            tools:ignore="Instantiatable"  />
        <activity
            android:name=".erestaurant.ItemViewActivity"
            android:exported="false" />
        <activity
            android:name=".erestaurant.CategoryAdapter"
            android:exported="false"
            tools:ignore="Instantiatable" />
        <activity
            android:name=".erestaurant.CategoryActivity"
            android:exported="false" />
        <activity
            android:name=".HomeActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>